---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: storage

components:
  - ../../components/sops

resources:
  - ./namespace.yaml
  - ./rook-ceph/ks.yaml
  # Add more storage solutions here:
  # - ./smb-storage/ks.yaml

